<td>{{input type="text" value=firstName placeholder="First Name"}}</td>
<td>{{input type="text" value=wage placeholder="Wage"}}</td>
<td>{{input type="text" value=skillPoints placeholder="Skill Points"}}</td>