<td>{{input type="text" value=firstName placeholder="First Name" class="block"}}</td>
<td>{{input type="text" value=wage placeholder="Wage" class="block"}}</td>
<td>{{input type="text" value=skillPoints placeholder="Skill Points" class="block"}}</td>
