@import url("../../vendor/normalize.css/normalize.css");

$blue: lightblue;
$white: white;
$pale: #CCC;

$border-radius: 10px;

@mixin blockness {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

@mixin buttonness {
  background-color: $blue;
  border-radius: $border-radius;
  box-shadow: 5px 5px 0px darken($blue, 20);
  color: white;
  line-height: 50px;
  margin: 1rem 0;
  outline: none;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0px $pale;
  border: none;
  &:hover {
    background-color: lighten($blue, 5);
  }
  &:active {
    background-color: darken($blue, 5);
  }
}

.container {
  max-width: 768px;
  margin: auto;
}

label {
  display: inline-block;
  font-weight: bold;
}

input {
  line-height: normal;
  padding: 1rem;
  border: 1px solid #CCC;
  border-radius: $border-radius;
  &:active {
    outline: none;
  };
}

.button {
  @include buttonness;
  display: inline-block;
}

.block-button {
  @include buttonness;
  @include blockness;
}

.block {
  @include blockness;
}

button {
  @include buttonness;
}