@import url("../../vendor/normalize.css/normalize.css");

$blue: lightblue;
$white: white;
$pale: #CCC;

$border-radius: 10px;

@mixin blockness {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

@mixin buttonness {
  background-color: $blue;
  border-radius: $border-radius;
  box-shadow: 5px 5px 0px darken($blue, 20);
  color: white;
  line-height: 50px;
  margin: 1rem 0;
  outline: none;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0px $pale;
  border: none;
  &:hover {
    background-color: lighten($blue, 5);
  }
  &:active {
    background-color: darken($blue, 5);
  }
}

.container {
  max-width: 768px;
  margin: auto;
}

label {
  display: inline-block;
  font-weight: bold;
}

input {
  line-height: normal;
  padding: 1rem;
  border: 1px solid $pale;
  border-radius: $border-radius;
  &:active {
    outline: none;
  };
}

.push-right {
  display: inline-block;
  float: right;
}

.button {
  @include buttonness;
  display: inline-block;
}

.block-button {
  @include buttonness;
  @include blockness;
}

.block {
  @include blockness;
}

button {
  @include buttonness;
}

.notice {
  text-align: center;
  background-color: lighten($pale, 15);
  padding: 1rem;
  border-radius: $border-radius;
  border: 1px solid $pale;
}

table {
  background: $white;
  margin-bottom: rem-calc(20);
  border: 1px solid $pale;
  width: 100%;
  
  tr {
    border: 1px solid lighten($pale, 5);
    th, td {
      display: table-cell;
      padding: 1rem;
      text-align: left;
      max-width: 2rem;
    }
  }

  thead tr th, tfoot tr th, tbody tr td,
  tr td, tfoot tr td { 
    line-height: 1.5rem;
  }
}

.questions {
  text-align: center;
  .math-question {
    display: inline-block;
    margin: 1rem;
    input {
      text-align: center;
      padding: .4rem;
      width: 5rem;
      margin: auto;
    }
  }
}

.employee-overview {
  margin-bottom: 2rem;
}

.employee {
  td {
    padding: 0;
    text-align: center;
  }
  input {
    border: none;
    padding: 0;
    margin: auto;
    height: 2rem;
    width: 95%;
    border-radius: 0;
  }
}