@import 'colors';

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.block {
  display: block;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.notice {
  background-color: $pale;
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}

.highlight {
  background-color: $pale;
}
