<p>I am a worker.</p>

<ul>
  <li>{{#link-to 'worker.math-test'}}Take Math Test{{/link-to}}</li>
  <li>{{#link-to 'worker.hand-eye'}}Take Hand/Eye Coordination Test{{/link-to}}</li>
  <li>{{#link-to 'worker.resume'}}View Résumé{{/link-to}}</li>
</ul>