<h3>Hand-Eye Coordination Test</h3>

<h4>Instructions</h4>

<p>You will be given 10 beans to throw in a cup, one at a time. You will have 30 seconds in which to attempt all 10 throws. Each bean that lands in the cup earns one point. Each bean can be thrown one time only.</p>
<p>(Note: All throws must be from behind a line that is 3 feet (36 inches) from the cup.)</p>
<p>All potential workers will line up in one of six lines. Each line will work with one employer. Workers should remain quiet while awaiting their turn to throw the beans. Not following this rule could disqualify you.</p>

<h4>Enter your score on the hand-eye coordination test below.</h4>
{{input type=number value=worker.handEyeTestPoints class="block"}}

<div class="button-bar">
  {{#link-to 'worker' class="button"}}Go Back{{/link-to}}
</div>
