<ul>
  <li>{{#link-to 'firms' 'accounting'}}I am an accounting firm.{{/link-to}}</li>
  <li>{{#link-to 'firms' 'construction'}}I am a construction company.{{/link-to}}</li>
  <li>{{#link-to 'workers'}}I am a worker looking for a job.{{/link-to}}</li>
</ul>